body {
    margin-left: 30px;
    margin-right: 40px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    color: #002B11;
}

.nav_s1 img {
    height: 80px;
    width: 80px;
    display: flex;
}

.nav_s3 img {
    height: 30px;
    width: 30px;


}

.nav_s3 p {
    margin-top: 13px;
    font-size: 14px;
}

.nav_s1 {
    display: flex;
    gap: 12px;
    align-items: center;

}

.nav_s1 p {
    margin-top: 18px;
    font-size: 22px;
}

.nav_s2 {
    display: flex;
    gap: 20px;
    margin-top: 18px;
    padding-right: 80px;

}

.nav_s3 {

    display: flex;
    gap: 7px;
    align-items: center;

}

.where {
    text-align: center;

    color: #002B11;
}

.search {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 30px;
    padding-left: 50px;
    color: #002B11;

}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: 1px;
    border-radius: 30px;
    width: 800px;
    justify-content: space-between;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    position: sticky;
    top: 3px;
    background-color: white;
    z-index: 2;
}

.search-input {
    width: 300px;
    border: none;
    outline: none;
    background: none;

}

.search-left i {
    padding: 2px;
    margin-top: 15px;
    margin-left: 8px;

}

.search-bar p {
    margin-right: 7px;
    margin-top: 10px;
    background-color: #00EB5B;
    border: solid 1px black;
    border-radius: 20px;
    padding-left: 8px;
    padding-right: 8px;
    color: black;
}

.advertise {
    display: flex;
    align-items: center;
    gap: 40px;
    background-color: #00EB5B;
    color: #002B11;
    margin: 30px;
    border-radius: 30px;
    height: 400px;
}

.advertise-left {
    width: 50%;
}

.advertise-right {
    width: 50%;
    justify-content: center;
}

.advertise-right p {
    text-align: center;
    background-color: #002B11;
    color: white;
    border-radius: 30px;
    width: 90px;
    padding: 3px;

}

.center-line {
    width: 1px;
    height: 300px;
    background-color: black;
}

.advertise-left img {
    height: 320px;
    padding-left: 40px;
    width: 90%;

}

.option {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.option img {
    height: 300px;
    width: 90%;
    border-radius: 25px;
    position: relative;
    margin-left: 22px;
}

.option h5 {
    position: absolute;
    bottom: 0.5px;
    color: white;
    background-color: black;
    opacity: 0.7;
    border-radius: 5px;
    padding: 5px;
    padding-right: 15px;
    margin-left: 22px;


}

.option-content {
    margin-left: 23px;
    color: black;
}


.more-images {
    display: flex;

    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    position: relative;

}

.morethings {
    margin-left: 22px;
    padding-top: 20px;
}

.more-content {
    color: black;
}

.more-images img {
    height: 250px;
    width: 250px;
    border-radius: 20px;
    position: relative;


}

.img-title {
    color: black;
    font-size: 18px;
    font-weight: bold;
    width: 250px;
    margin: auto 0;
}

.more-images i {
    color: #00852F;
    font-size: 15px;
}

.more-images p {
    color: black;
}

#heart1 {
    position: absolute;
    background-color: white;
    border-radius: 30px;
    padding: 10px;
    font-size: 20px;
    right: 80%;
    z-index: 1;
    top: 6px;
}

#heart2 {
    position: absolute;
    background-color: white;
    border-radius: 30px;
    padding: 10px;
    font-size: 20px;
    right: 53.5%;
    z-index: 1;
    top: 5px;
}

#heart3 {
    position: absolute;
    background-color: white;
    border-radius: 30px;
    padding: 10px;
    font-size: 20px;
    right: 27%;
    z-index: 1;
    top: 5px;
}

#heart4 {
    position: absolute;
    background-color: white;
    border-radius: 30px;
    padding: 10px;
    font-size: 20px;
    right: 0.4%;
    z-index: 1;
    top: 6px;
}

#heart5 {
    position: absolute;
    background-color: white;
    border-radius: 30px;
    padding: 10px;
    font-size: 20px;
    right: 80%;
    z-index: 1;
    top: 52%;
}

#heart6 {
    position: absolute;
    background-color: white;
    border-radius: 30px;
    padding: 10px;
    font-size: 20px;
    right: 53.5%;
    z-index: 1;
    top: 52%;
}

#heart7 {
    position: absolute;
    background-color: white;
    border-radius: 30px;
    padding: 10px;
    font-size: 20px;
    right: 27%;
    z-index: 1;
    top: 52%;
}

#heart8 {
    position: absolute;
    background-color: white;
    border-radius: 30px;
    padding: 10px;
    font-size: 20px;
    right: 0.4%;
    z-index: 1;
    top: 52%;
}

.coimb-content {
    color: black;
    padding-top: 15px;
    margin-left: 20px;
}

.coimb-img {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin-left: 20px;

}

.coimb-img img {
    height: 250px;
    width: 250px;
    border-radius: 20px;
    position: relative;
}

.coimb-img h6 {
    color: black;
    font-size: 18px;
    font-weight: bold;
    width: 250px;
    height: 100px;
    margin: auto 0;
}

.coimb-img i {
    color: #00852F;
    font-size: 15px;
}

#heart9 {
    position: absolute;
    background-color: white;
    border-radius: 30px;
    padding: 10px;
    font-size: 20px;
    right: 77.5%;
    z-index: 1;

}

#heart10 {
    position: absolute;
    background-color: white;
    border-radius: 30px;
    padding: 10px;
    font-size: 20px;
    right: 52%;
    z-index: 1;

}

#heart11 {
    position: absolute;
    background-color: white;
    border-radius: 30px;
    padding: 10px;
    font-size: 20px;
    right: 27%;
    z-index: 1;

}

#heart12 {
    position: absolute;
    background-color: white;
    border-radius: 30px;
    padding: 10px;
    font-size: 20px;
    right: 2%;
    z-index: 1;

}

.bigcities-title {
    margin-left: 22px;
    color: black;
}

.bigcities {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 22px;
}

.bigcities img {
    height: 250px;
    width: 250px;
    border-radius: 20px;

}

.bigcities h6 {
    width: 250px;
    height: 100px;
    color: black;
}

.bigcities i {
    color: #00852F;
    font-size: 15px;
}

.nexttrip-title {
    margin-left: 22px;
    color: black;
}

.nexttrip {
    display: flex;
    justify-content: space-between;
    margin-left: 22px;
    flex-wrap: wrap;
    gap: 10px;

}

.nexttrip img {
    height: 250px;
    width: 250px;
    border-radius: 20px;
    position: relative;

    gap: 10px;
}

.nexttrip h6 {
    position: absolute;
    z-index: 1;
    font-size: 17px;

}

.absolute1 {
    top: 584%;
    color: white;
    font-weight: bolder;
    background-color: black;
    opacity: 0.8;
    border-radius: 5px;
    padding: 3px;
}

.absolute2 {
    top: 623%;
    color: white;
    font-weight: bolder;
    background-color: black;
    opacity: 0.8;
    border-radius: 5px;
    padding: 5px;
    padding-right: 15px;

}

.Iconic {
    padding-top: 40px;
    margin-left: 22px;
}

.Iconic h5 {
    color: black;
}

.Iconic-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.Iconic-images img {
    height: 250px;
    width: 250px;
    border-radius: 20px;
    position: relative;
}

.Iconic-images h6 {
    position: absolute;
    z-index: 1;
    color: white;
    background-color: black;
    opacity: 0.8;
    padding: 5px;
    padding-right: 20px;
    border-radius: 10px;
    font-size: 17px;
}

.abs1 {
    top: 675%;

}

.abs2 {
    top: 714%;
}

.winner {
    margin-left: 40px;
    margin-top: 50px;
    border-radius: 30px;
    height: 400px;
    width: 1100px;
    background-color: #00EB5B;
    display: flex;
    align-items: center;
}

.win-left {
    padding-right: 20px;
}

.win-left img {
    height: 400px;
    border-radius: 30px;
}

.win-right {
    margin-top: 30px;
    color: white;
}

.win-right p {
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 8px;
    width: fit-content;
    font-size: 14px;
    font-weight: bold;

}

.footer-all {
    background-color: #F7F7F7;
    color: black;
    width: 95%;
    height: 400px;
}

.footer {
    display: flex;
    gap: 20px;
    margin-top: 60px;
    margin-left: 30px;
}

.footer p {
    font-size: 14px;
}

.foot {
    margin-left: 30px;
    font-size: 14px;
}

.footer-all h6 {
    font-size: 16px;
    font-weight: bolder;
}

.foot h5 {
    font-size: 16px;
    font-weight: bolder;
}